{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet" href="{% static 'demomenu/css/styles.css' %}">
</head>
<body>
    <ul>
        {% for menu_item in parent_menu %}
            <li>
                <a href="{{ menu_item.menu_url }}">
                    {{ menu_item.name }}
                </a>

                {% if menu_item.children.all %}
                    <ul>
                        {% for child_menu_item in menu_item.children.all %}
                            <li>
                                <a href="{{ child_menu_item.menu_url }}">
                                    {{ child_menu_item.name }}
                                </a>

                                {% if child_menu_item.children.all %}
                                    <ul>
                                        {% for sub_menu_item in child_menu_item.children.all %}
                                            <li>
                                                <a href="{{ sub_menu_item.menu_url }}">
                                                    {{ sub_menu_item.name }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    <script src="{% static 'demomenu/js/script.js' %}"></script>
</body>
</html>